service: sls-py-req-test

provider:
  name: aws
  runtime: python3.7

plugins:
  - ..
custom:
  pythonRequirements:
    pipArgs: >
      --index-url=https://pypi.org/simple
    shared:
      common_utils:
        source: ../shared
        functions:
          - hello
    exclude:
      - pyarrow/src

functions:
  hello:
    handler: handler.hello
    zip: true
